.albumOne img {
  height: 200px;
  width: 200px;
  margin: 6px;
}

.albumOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75vw;
}

.albumTwo img {
  height: 200px;
  width: 200px;
  margin: 6px;
}

.albumTwo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75vw;
}

.albumThree img {
  height: 200px;
  width: 200px;
  margin: 6px;
}

.albumThree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75vw;
}

.albumFour img {
  height: 200px;
  width: 200px;
  margin: 6px;
}

.albumFour {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75vw;
}

.albumFive img {
  height: 200px;
  width: 200px;
  margin: 6px;
}

.albumFive {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75vw;
}

.albumSix img {
  height: 200px;
  width: 200px;
  margin: 6px;
}

.albumSix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75vw;
}

.instructions {
  border: none;
  background-color: grey;
  color: lightgrey;
  padding: 7px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.return {
  border: none;
  background-color: grey;
  color: white;
  padding: 7px;
}

.image img {
  height: 440px;
}
